<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/cloudy.png" type="image/x-icon"> 
  <link rel="stylesheet" href="./css/styles.css">
  <title>{{title}}</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by PrzemskyDev.</p>
    <p>It uses data from weatherstack.com and mapbox.com</p>
    <img src="./img/300.jpg" alt="Pics">
  </div>
  {{>footer}}
</body>

</html>